body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  padding: 50px 0 0 0;
}

html {
  min-height: 100%;
  background-image: url(FFD365B9-1868-464E-8D1F-98A887FC1C9A_1_201_a.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: rgb(101, 102, 104);
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.weather-app {
  background: #d4cfcf;
  opacity: 85%;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 5px;
  padding: 30px;
}

header {
  border-bottom: 1px solid rgba(148, 142, 142, 0.5);
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 3px;
  width: 79%;
  font-size: 16px;
  padding: 15px 20px;
  font-family: "Poppins", sans-serif;
}

.search-form-button {
  background: black;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 3px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 15px 15px;
}

.current-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  font-weight: bold;
}

.conditions {
  display: inline-block;
  text-transform: lowercase;
  color: rgb(72, 88, 105);
}

.current-details {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}

.conditions::first-letter {
  text-transform: uppercase;
}

.feels-like-temp {
  font-size: 14px;
}

.feels-like-temp strong {
  color: rgb(99, 140, 183);
}

.current-details strong {
  color: rgb(99, 140, 183);
}

.current-details-city {
  font-size: 14px;
}

.current-temperature-container {
  display: flex;
  max-height: 50%;
  max-width: 70%;
  padding-top: 20px;
  justify-content: space-evenly;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
  padding: 20px 0 0 5px;
}

.current-temperature {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 5px;
}

.current-temperature-unit {
  margin-top: 20px;
  font-size: 28px;
  padding: 2px;
}

.weather-forecast {
  display: flex;
  margin-top: 0;
  margin-bottom: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.forecast-date {
  font-size: 14px;
  text-align: center;
  color: rgb(59, 89, 121);
  margin: 0 auto;
  line-height: 20px;
  flex: 1 1 100%;
}

.forecast-icon {
  width: 10px;
  flex: 1 1 100%;
}

.forecast-temp {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex: 1 1 100%;
  line-height: 20px;
}

.forecast-temp-max {
  padding: 0 5px;
}

.forecast-temp-min {
  opacity: 0.5;
  padding: 0 5px;
}

footer {
  border-top: 1px solid rgba(148, 142, 142, 0.5);
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: rgba (0, 0, 0, 0.6);
}
